#logForm {
    text-align: center;
    background-color: white;
    float: right;
    color: black; 
    padding: 10px;
    margin-top: 15%;
}

#add-animal {
    text-align: center;
}

#images {
    float: left;
}